/* DEFAULT CSS STYLE */

body
{
    padding-top: 70px;
}

/* hide original list counter */
#treeNav ul li {display:block;}
#treeNav ul {list-style:none;}

#treeNav li{
    margin-left: -30px;
}

#treeNav ul{
    margin-left: -30px;
}

.file{
    color: #ffb366;
}

.folder{
    margin-left: -40px;
    color: #66B2FF;
}